# Hugo build output
/public/
/resources/_gen/
.hugo_build.lock

# Node modules
/node_modules/

# System files
.DS_Store

# History and temporary files
.history/
*.tmp
*.log

# Hugo environment files
.env
.env.*

# IDE specific files
.idea/
.vscode/

# Other
*.bak

# Theme for development
themes/hackingandcoffee-live/
